<!DOCTYPE html>
<html lang="en"></html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="https://github.com/nagix/chartjs-plugin-streaming/releases/download/v1.7.1/chartjs-plugin-streaming.min.js"></script>


        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">


        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id='cssmenu'>
        <ul>
        <li class='active has-sub'><a href='#'><span>Stats</span></a>
            <ul>
                <li class='last'><a href='/downloader'><span>Downloader Status</span></a>
                </li>
            </ul>
        </li>
        <li class='last'><a href='/liveconnection'><span>Time</span></a></li>
        <li class='active has-sub'><a href='#'><span>GEO</span></a>
        <li class='last'><a href='/contact'><span>Contact</span></a></li>

        </ul>
        </div>
        <div></div>{% block div %}{% endblock %}</div>
    </body>
<html>